* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #0b0f1a;
  color: #e5e7eb;
}

/* HERO */
.hero {
  height: 100vh;
  background: radial-gradient(circle, #10162a, #05070d);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  color: #00f5ff;
}

.hero-desc {
  max-width: 600px;
  margin-top: 20px;
  line-height: 1.7;
  opacity: 0.85;
}

.hero button {
  margin-top: 30px;
  padding: 12px 35px;
  border: 1px solid #00f5ff;
  background: transparent;
  color: #00f5ff;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.3s;
}

.hero button:hover {
  background: #00f5ff;
  color: #000;
}

/* SECCIONES */
section {
  padding: 80px 10%;
}

section h2 {
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 30px;
  color: #00f5ff;
}

/* SOBRE MI */
#about {
  background: #0e1324;
  
}
#about h2 {
  text-align: center;
}

.about-text {
  max-width: 700px;
  margin: 0 auto 40px auto;
  line-height: 1.8;
  text-align: center;
  opacity: 0.9;
}

.about-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.info-card {
  padding: 25px;
  border-radius: 15px;
  background: linear-gradient(145deg, #0f172a, #020617);
  border: 1px solid #00f5ff30;
}

.info-card h3 {
  color: #00f5ff;
  margin-bottom: 10px;
  font-family: 'Orbitron', sans-serif;
}

.info-card span {
  font-size: 0.9rem;
  opacity: 0.7;
}

/* PROYECTOS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}

.card {
  padding: 30px;
  background: #111827;
  border-radius: 15px;
  border: 1px solid #00f5ff20;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #00f5ff20;
}

.card h3 {
  margin-bottom: 10px;
  color: #00f5ff;
}

/* HABILIDADES */
.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills-list li {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #00f5ff50;
  background: #020617;
}

/* CONTACTO */
#contact {
  text-align: center;
  background: #05070d;
}

.profile-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #00f5ff;
  box-shadow: 0 0 25px #00f5ff60;
  margin-bottom: 25px;
}
.profile-img {
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.project-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 1px solid #00f5ff30;
}

